[
    {
        "Key": "/database/host",
        "Value": "127.0.0.1"
    },
    {
        "Key": "/database/password",
        "Value": "p@sSw0rd"
    },
    {
        "Key": "/database/port",
        "Value": "3306"
    },
    {
        "Key": "/database/username",
        "Value": "remco"
    },
    {
        "Key": "/upstream/app1",
        "Value": "10.0.1.10:8080"
    },
    {
        "Key": "/upstream/app2",
        "Value": "10.0.1.11:8080"
    }
]